/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
;
}

html{
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1.6rem; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    /* max-width: 80%;
    margin: 0 auto; */
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: -webkit-gradient( linear, left top, right bottom, from(rgba(126, 213, 111, 0.801)), to(hsla(160, 64%, 43%, 0.801))), url(../img/hero.jpg);
    background-image: linear-gradient( to right bottom, rgba(126, 213, 111, 0.801), hsla(160, 64%, 43%, 0.801)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    background-attachment: fixed;
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo {
    height: 3.5rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
    -webkit-animation-name: moveInRight;
    animation-name: moveInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes moveInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    60% {
        -webkit-transform: translateX(2%);
        transform: translateX(2%)
    }
    80% {
        -webkit-transform: translateX(-1%);
        transform: translateX(-1%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    60% {
        -webkit-transform: translateX(2%);
        transform: translateX(2%)
    }
    80% {
        -webkit-transform: translateX(-1%);
        transform: translateX(-1%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@-webkit-keyframes moveInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%)
    }
    60% {
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%)
    }
    80% {
        -webkit-transform: translateX(1%);
        transform: translateX(1%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%)
    }
    60% {
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%)
    }
    80% {
        -webkit-transform: translateX(1%);
        transform: translateX(1%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
        transform: translateY(50%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 3rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    /* transition property should be in the initial state */
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
}

.btn:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after{                  /* considered child of the .btn element */
    content:"";
    display:inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity:0;
}

.btn-animated{
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
