@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables"; //carries all the SCSS variables

@import "base/base"; //carries all the rules such as global selectors and setup of rem font size
@import "base/animation"; //carries all the animations required
@import "base/typography"; //carries all the font related information
@import "base/utilities";

@import "components/button"; //carries specific components

@import "layout/header"; //carries layout specific styles..this is for the header specifically
@import "layout/grid";

@import "pages/home";








