@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables"; //carries all the SCSS variables

@import "base/base"; //carries all the rules such as global selectors and setup of rem font size
@import "base/animation"; //carries all the animations required
@import "base/typography"; //carries all the font related information
@import "base/utilities";

@import "components/bg-video"; //carries specific components
@import "components/button"; //carries specific components
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/form";
@import "components/story";


@import "layout/header"; //carries layout specific styles..this is for the header specifically
@import "layout/footer"; //carries layout specific styles..this is for the footer specifically
@import "layout/grid";

@import "pages/home";








